<style>
	body{
		background-image: url('imgs/main3.jpg');
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-size: cover;
	   	color: white;
	}
</style>

 <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to NightMare Riders</h1>
      <p class="lead">Join us to share your car photos, discuss your favorite cars, and connect with other car enthusiasts! <a class="link-info link-offset-3" href="#about">see more</a></p>
      <hr class="my-4">
      <p>Sign up now to become a part of our community.</p>
      <a class="btn btn-warning btn-lg " href="/sign-up" role="button">Sign Up</a>
      <p>if you are already a member of our community <a href="/login"class="link-info link-offset-3">click here!</a></p>
    </div>
  </div>
