<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Home", root_path, class:"nav-link" %>
        </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Cars
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Honda</a></li>
            <li><a class="dropdown-item" href="#">Toyota</a></li>
            <li><a class="dropdown-item" href="#">Nissan</a></li>
            <li><a class="dropdown-item" href="#">Mitshubishy</a></li>
            <li><a class="dropdown-item" href="#">BMW</a></li>
            <li><a class="dropdown-item" href="#">Mersendes</a></li>
            <li><a class="dropdown-item" href="#">VolksWagen</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Community</a>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Contact Us</a>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", sign_up_path, class:"nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>